<div id="answer" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for :answer, url:"/answers" do%>
        <input type="hidden" id="questionid" name="answer[question_id]" value="<%=	 @question.id %>">
        <div class="modal-header">
          <h5 class="modal-title">Answer A Question</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row form-group">
              <div class="col-sm-2">
                <label for="answerEmail">Email</label>

              </div>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="answerEmail" name="answer[email]" placeholder="user@email.com" required>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-2"><label for="answerAnswer">Answer</label></div>
              <div class="col-sm-10">
                <textarea class="form-control" id="answerAnswer" name="answer[body]" placeholder="So in answer to your question..." required></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit Answer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
